* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(33, 33, 114);
  color: white;
}
.container {
  padding: 20px;
  background-color: rgb(32, 31, 31);
  margin: 50px;
}
.session1 {
  padding: 30px;
  border-bottom: 1px solid rgb(77, 75, 75);
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
li {
  display: inline;
  list-style: none;
}
li > a {
  padding: 10px;
  color: white;
  text-decoration: none;
}
a.header1 {
  border: 1px solid white;
  padding: 10px;
}
div.main1-input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
input {
  text-align: center;
  padding: 20px 50px;
  margin: 20px 20px;
  background-color: rgb(46, 45, 45);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}
input:hover {
  background-color: rgb(78, 78, 233);
}
h2 {
  padding: 20px;
}
.main1 img {
  border-radius: 5px;
}
.box {
  display: flex;
  flex-wrap: wrap;
}
.box div {
  border-radius: 5px;
  padding: 30px 70px;
  width: calc(30%-20px);
  height: 250px;
  margin: 10px;
}
.main3 {
  background-color: rgb(59, 56, 56);

  border-radius: 5px;
  padding: 100px;
  width: calc(100% - 20px);
}
img.box1 {
  position: relative;
  bottom: 200px;
  right: 130px;
}
img.box2 {
  position: relative;
  bottom: 200px;
  left: 130px;
}
img.main3-1 {
  position: relative;
  bottom: 100px;
  right: 150px;
}
img.main3-2 {
  position: relative;
  bottom: 150px;
}
img.main3-3 {
  position: relative;
  bottom: 160px;
  left: 70px;
}
img.main3-4 {
  position: relative;
  top: 50px;
  right: 70px;
}
img.main3-5 {
  position: relative;
  top: 50px;
}
img.main3-6 {
  position: relative;
  left: 180px;
  bottom: 50px;
}
.session2 {
  width: calc(100% - 50px);
  padding: 20px;
  border-bottom: 1px solid rgb(77, 75, 75);
}
.session2-img {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px;
}
.session2-img img {
  width: 220px;
}
.session2-input {
  display: flex;
  justify-content: center;
}
.session3-header {
  text-align: center;
  margin: 50px;
}
.session3-message {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div.message {
  width: 300px;
  background-color: rgb(76, 76, 74);
  padding: 20px;
  margin: 10px;
}
.backgroud-img {
  position: relative;
  bottom: 140px;
}
.session4 {
  background-color: rgb(88, 88, 201);
  text-align: center;
  padding: 50px;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.footer img {
  margin: 10px;
}
@media (max-width: 768px) {
  ul {
    display: none;
  }
  input {
    width: 100%;
  }
  .main1 img {
    width: calc(100% - 20px);
  }
  img.box1 {
    display: none;
  }
  img.box2 {
    display: none;
  }
  .box > div {
    width: calc(100% - 20px);
  }
  .main3 > img {
    width: 30px;
    height: 30px;
  }
  .main3 {
    width: 100%;
  }
  .main3 h2 {
    padding: 20px;
    margin: 20px;
  }
  .session2-img {
    width: 100%;
  }
  div.message {
    width: 100%;
  }
  .footer {
    display: none;
  }
}
