* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: burlywood;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container > div {
  text-align: center;
  margin: 10px;
  padding: 20px 50px;
  background-color: blue;
  color: white;
}
